---
interface Props {
    imgPath: string
    label: string
    about: string
    href: string
    linkLabel?: string
}

const {
  imgPath,
  label,
  about,
  href,
  linkLabel = "Learn More",
} = Astro.props;

import '../styles/era.css'
import "@fontsource/jetbrains-mono";
---
<div class="era-wrapper">
  
<img src={imgPath} alt={label} class="era-image" />

<div class="line"></div>

<div class="content-column">
    <div class="label-pill">{label}</div>
    <p class="about">{about}</p>  
    <a href={href} class="link-pill lower">{linkLabel}</a>
  </div>
</div>